Django==1.4.1
MySQL-python==1.2.4c1
Pillow==2.9.0
South==0.7.6
django-classy-tags==0.3.4.1
django-cms==2.3.3
django-mptt==0.5.2
django-sekizai==0.6.1
html5lib==0.95
wsgiref==0.1.2
dj-database-url==0.2.1
gunicorn==0.14.2
django-database-files==0.1